[DEFAULT]

debug = False
verbose = True
use_stderr = False
use_syslog = {{ cinder_syslog_use }}

my_ip = {{ ip.mgmt }}
osapi_volume_listen = {{ ip.mgmt }}

{% if inventory_hostname in groups['cinder_volume'] %}

{% if cinder_backend == 'lvm' %}

volume_driver = cinder.volume.drivers.lvm.LVMVolumeDriver
volume_group = cinder-volumes
iscsi_protocol = iscsi
iscsi_helper = tgtadm
volume_name_template = volume-%s
volume_group = cinder-volumes

{% elif cinder_backend == 'ceph' %}

volume_driver=cinder.volume.drivers.rbd.RBDDriver
backup_driver=cinder.backup.drivers.ceph
rbd_ceph_conf = /etc/ceph/ceph.conf
rbd_pool = {{ cinder_ceph_pool }}
rbd_user = {{ cinder_ceph_user }}
rbd_secret_uuid = {{ cinder_volume_secret_uuid }}
backup_ceph_pool = {{ cinder_backup_ceph_pool }}
backup_ceph_user = {{ cinder_backup_ceph_user }}

{% endif %}

{% endif %}

rootwrap_config = /etc/cinder/rootwrap.conf
api_paste_confg = /etc/cinder/api-paste.ini
state_path = /var/lib/cinder
lock_path = /var/lock/cinder
volumes_dir = /var/lib/cinder/volumes
allow_availability_zone_fallback = True

auth_strategy = keystone

notification_driver = messagingv2

[database]
connection = mysql+pymysql://{{ cinder_db_user }}:{{ cinder_db_password }}@{{ cinder_mysql_server }}/{{ cinder_db }}?charset=utf8
max_retries = -1

[keymgr]
encryption_auth_url = http://{{ keystone_internal_ip }}:5000/v3

[keystone_authtoken]
auth_plugin = password
signing_dir = /var/lib/cinder/cache
auth_uri = http://{{ keystone_internal_ip }}:5000
auth_url = http://{{ keystone_internal_ip }}:35357
region_name = {{ keystone_region_name }}
user_domain_name = {{ cinder_domain_name }}
username = {{ cinder_admin_user }}
password = {{ cinder_admin_password }}
project_domain_name = {{ cinder_project_domain_name }}
project_name = {{ cinder_project_name }}

memcached_servers = {% for host in groups['memcached'] %}{{ hostvars[host].ip.mgmt }}:11211{% if not loop.last %},{% endif %}{% endfor %}

memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcache_secret_key }}

[oslo_concurrency]
lock_path = /var/lock/cinder

[oslo_messaging_rabbit]
rabbit_port = 5672
rabbit_userid = {{ cinder_rabbit_user }}
rabbit_password = {{ cinder_rabbit_password }}
rabbit_ha_queues = true
{% set rabbit_hosts=groups['rabbitmq'][(play_hosts.index(inventory_hostname) % groups['rabbitmq'] | count):] + groups['rabbitmq'][:(play_hosts.index(inventory_hostname) % groups['rabbitmq'] | count)] %}
rabbit_hosts = {% for host in rabbit_hosts %}{{ hostvars[host].ip.mgmt }}:5672{% if not loop.last %},{% endif %}{% endfor %}
