---

neutron_db_user: neutron
neutron_mysql_server: "{{ vip_mgmt }}"
neutron_db: neutron
neutron_rabbit_vhost: neutron
neutron_rabbit_user: neutron
neutron_admin_user: neutron
neutron_domain_name: "{{ keystone_domain_name }}"
neutron_project_domain_name: "{{ keystone_service_project_domain_name | default(keystone_domain_name) }}"
neutron_project_name: "{{ keystone_service_project_name | default('service') }}"

neutron_syslog_use: "{{ syslog_use | default(False) }}"

neutron_debug: False

neutron_physical_interface_driver: linuxbridge

nova_admin_user: nova
nova_domain_name: "{{ keystone_domain_name }}"
nova_project_domain_name: "{{ keystone_service_project_domain_name | default(keystone_domain_name) }}"
nova_project_name: "{{ keystone_service_project_name | default('service') }}"

neutron_ha_routers: True
#openswan/strongswan, empty: no vpnaas
neutron_vpnaas_type:
neutron_vxlan_vni_ranges: "65537:69999"
neutron_vxlan_group: 239.0.0.0/8
neutron_gre_vni_ranges: "1:1000"
neutron_dnsmasq_dns_servers:
neutron_mtu: 0

keystone_proto: "{{ (keystone_ssl | default(False)) | ternary('https', 'http') }}"
os_proto: "{{ (os_ssl | default(False)) | ternary('https', 'http') }}"
ssl_insecure: False
SSLCACertificateFileSource:
SSLCACertificateFile: "{{ (SSLCACertificateFileSource is not none and SSLCACertificateFileSource | trim != '') | ternary('/etc/ssl/certs/openstack.ca.crt','') }}"
