---

neutron_db_user: neutron
neutron_mysql_server: "{{ vip_mgmt }}"
neutron_db: neutron
neutron_rabbit_vhost: neutron
neutron_rabbit_user: neutron
neutron_admin_user: neutron
neutron_domain_name: "{{ keystone_domain_name }}"
neutron_project_domain_name: "{{ keystone_service_project_domain_name | default(keystone_domain_name) }}"
neutron_project_name: "{{ keystone_service_project_name | default('service') }}"

neutron_server_workers: "{{ (ansible_processor_vcpus + 1) // 2 }}"
neutron_metadata_workers: "{{ (ansible_processor_vcpus + 1) // 2 }}"

neutron_syslog_use: "{{ syslog_use | default(False) }}"

neutron_debug: False

neutron_physical_interface_driver: linuxbridge
neutron_sriov_enable: False

nova_admin_user: nova
nova_domain_name: "{{ keystone_domain_name }}"
nova_project_domain_name: "{{ keystone_service_project_domain_name | default(keystone_domain_name) }}"
nova_project_name: "{{ keystone_service_project_name | default('service') }}"

designate_admin_user: designate
designate_domain_name: "{{ keystone_domain_name }}"
designate_project_domain_name: "{{ keystone_service_project_domain_name | default(keystone_domain_name) }}"
designate_project_name: "{{ keystone_service_project_name | default('service') }}"

#neutron_mtu is deprecated, use neutron_path_mtu, neutron_segment_mtu or neutron_phyiscal_network_mtus
neutron_mtu: 0
neutron_advertise_mtu: True
neutron_path_mtu: 0
#deprecated, use neutron_global_physnet_mtu
neutron_segment_mtu: 1500
neutron_global_physnet_mtu: "{{ neutron_segment_mtu }}"
neutron_physical_network_mtus:

#lbaas or lbaasv2
neutron_lbaas_agent: lbaasv2
neutron_ha_routers: True
#openswan/strongswan, empty: no vpnaas
neutron_vpnaas_type:
neutron_vxlan_vni_ranges: "65537:69999"
neutron_vxlan_group: 239.0.0.0/8
neutron_l2_population: True
neutron_gre_vni_ranges: "1:1000"
neutron_dnsmasq_dns_servers:
neutron_dnsmasq_local_resolv: False
neutron_dns_domain: openstacklocal
neutron_external_dns_driver: "{{ (groups['designate'] | count > 0) | ternary('designate','') }}"
neutron_designate_allow_reverse_dns_lookup: True
neutron_designate_ipv4_ptr_zone_prefix_size: 24
neutron_designate_ipv6_ptr_zone_prefix_size: 116

neutron_quota_loadbalancer: 10
neutron_quota_vip: 10
neutron_quota_pool: 10
neutron_quota_member: -1
neutron_quota_health_monitor: -1
neutron_quota_listener: -1

neutron_notifications: "{{ notifications_enable | default(False) }}"

sysctl_conntrack_max: 524288

keystone_proto: "{{ (keystone_ssl | default(False)) | ternary('https', 'http') }}"
os_proto: "{{ (os_ssl | default(False)) | ternary('https', 'http') }}"
ssl_insecure: False
SSLCACertificateFileSource:
SSLCACertificateFile: "{{ (SSLCACertificateFileSource is not none and SSLCACertificateFileSource | trim != '') | ternary('/etc/ssl/certs/openstack.ca.crt','') }}"
