# ------- Controller(s) -------
controller:
  controller1:
    ip:
      mgmt: 10.97.36.129
  controller2:
    ip:
      mgmt: 10.97.36.130
  controller3:
    ip:
      mgmt: 10.97.36.131

# -------- Compute --------
compute:
  compute1:
    ip:
      mgmt: 10.97.36.3

# -------- Ceph ---------
ceph_monitor:
  ceph1:
    ip:
      mgmt: 10.97.36.132
  ceph2:
    ip:
      mgmt: 10.97.36.133
  ceph3:
    ip:
      mgmt: 10.97.36.135

ceph_osd:
  ceph-osd1:
    ip:
      mgmt: 10.97.36.132
    osd:
      - { path: "/var/lib/osd1" }
      - { path: "/var/lib/osd2" }
  ceph-osd2:
    ip:
      mgmt: 10.97.36.133
    osd:
      - { disk: "/dev/sdc" }
  ceph-osd3:
    ip:
      mgmt: 10.97.36.135
    osd:
      - { disk: "/dev/sdc", journal: "/dev/nvme0n1p1" }
  ceph-osd4:
    ip:
      mgmt: 10.97.36.134
    osd:
      - { path: "/var/lib/osd1" }
      - { disk: "/dev/sdc" }

#The radosgw keystone authentication uses the certificates for signature checking,
#which are local to the keystone instance
ceph_radosgw:
  inherit: keystone

# ------- Nagios -------
# Used for the openstack-monitoring project
nagios:
  inherit: local

# --- Define localhost ---
local:
  localhost:
    ip:
      mgmt: 127.0.0.1
    ansible_connection: local

# -------- infrastructure --------
pacemaker:
  inherit: controller

zookeeper:
#  inherit: controller

haproxy:
  inherit: pacemaker

memcached:
  inherit: controller

rabbitmq:
  inherit: controller

galera:
  inherit: pacemaker

mongodb:
  inherit: controller

#It is possible to choose between rsyslog and syslog-ng
#syslog-ng:
rsyslog:
  inherit:
    - compute
    - controller

# -------- OpenStack ---------
keystone:
  inherit: controller

swift_proxy:
#  inherit: controller

swift_storage:
#  inherit: controller

glance:
  inherit: controller

horizon:
  inherit: controller

nova_controller:
  inherit: controller

nova_compute:
  inherit: compute

neutron_controller:
  inherit: controller

neutron_compute:
  inherit: compute

#Gnocchi is available only from Xenial
gnocchi:
#  inherit: controller

aodh:
  inherit: controller

ceilometer_controller:
  inherit: controller

ceilometer_compute:
  inherit: compute

heat:
  inherit: controller

cinder:
  inherit: controller

cinder_volume:
  inherit: controller

murano_rabbitmq:

murano:

sahara:

trove:

barbican:

ironic:

mistral:

manila:

powerdns:

designate:

magnum:

senlin:

# -------- Tempest ------
tempest:
  inherit: local
