[DEFAULT]

debug = {{ gnocchi_debug }}
log_dir = /var/log/gnocchi
use_syslog = {{ gnocchi_syslog_use }}
use_stderr = false

{% if groups['zookeeper'] | count > 0 %}
coordination_url = kazoo://{% for host in groups['zookeeper'] %}{{ hostvars[host].ip.mgmt }}:2181{% if not loop.last %},{% endif %}{% endfor %}
{% else %}
coordination_url = mysql://{{ gnocchi_db_user }}:{{ gnocchi_db_password }}@{{ gnocchi_mysql_server }}/{{ gnocchi_db }}?charset=utf8
{% endif %}

parallel_operations = {{ gnocchi_parallel_operations }}
sacks_number = {{ gnocchi_sacks_number }}

[api]

paste_config = /etc/gnocchi/api-paste.ini
auth_mode = {{ gnocchi_auth_mode }}


[archive_policy]

default_aggregation_methods = {{ ",".join(gnocchi_default_aggregation_methods) }}


[cors]

{% if gnocchi_cors_allowed_origin %}
allowed_origin = {{ gnocchi_cors_allowed_origin }}
{% endif %}

[cors.subdomain]


[database]

connection = mysql+pymysql://{{ gnocchi_db_user }}:{{ gnocchi_db_password }}@{{ gnocchi_mysql_server }}/{{ gnocchi_db }}?charset=utf8
max_retries = -1


[healthcheck]


[incoming]


[indexer]

url = mysql+pymysql://{{ gnocchi_db_user }}:{{ gnocchi_db_password }}@{{ gnocchi_mysql_server }}/{{ gnocchi_db }}?charset=utf8


[keystone_authtoken]

auth_type = password
auth_url = {{ keystone_proto }}://{{ keystone_admin_address }}:5000
www_authenticate_uri = {{ keystone_proto }}://{{ keystone_public_address }}:5000
region_name = {{ keystone_region_name }}
user_domain_name = {{ gnocchi_domain_name }}
username = {{ gnocchi_admin_user }}
password = {{ gnocchi_admin_password }}
project_domain_name = {{ gnocchi_project_domain_name }}
project_name = {{ gnocchi_project_name }}
{% if SSLCACertificateFile != '' %}
cafile = {{ SSLCACertificateFile }}
{% endif %}
insecure = {{ ssl_insecure }}
service_token_roles_required = True

memcached_servers = {% for host in groups['memcached'] %}{{ hostvars[host].ip.mgmt }}:11211{% if not loop.last %},{% endif %}{% endfor %}

memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcache_secret_key }}


[metricd]

workers = {{ gnocchi_metricd_workers }}
metric_processing_delay = {{ gnocchi_metric_processing_delay }}
metric_reporting_delay = {{ gnocchi_metric_reporting_delay }}
metric_cleanup_delay = {{ gnocchi_metric_cleanup_delay }}

[oslo_middleware]


[oslo_policy]

policy_file = /etc/gnocchi/policy.json


[statsd]


[storage]

driver = {{ gnocchi_backend }}

{% if gnocchi_backend == 'ceph' %}

ceph_pool = {{ gnocchi_ceph_pool }}
ceph_username = {{ gnocchi_ceph_user }}
ceph_keyring = /etc/ceph/{{ gnocchi_ceph_cluster_name }}.client.{{ gnocchi_ceph_user }}.keyring
ceph_conffile = /etc/ceph/{{ gnocchi_ceph_cluster_name }}.conf

{% elif gnocchi_backend =='swift' %}

swift_auth_version = 3
swift_authurl =  {{ keystone_proto }}://{{ keystone_public_address }}:5000/v3
swift_user = {{ gnocchi_swift_user }}
swift_user_domain_name = {{ gnocchi_swift_user_domain_name }}
swift_key = {{ gnocchi_swift_key }}

swift_project_name = {{ gnocchi_swift_project_name }}
swift_project_domain_name = {{ gnocchi_swift_project_domain_name }}

{% endif %}
