[mon.]
        key = {{ mon_key }}
        caps mon = "allow *"
[client.admin]
        key = {{ admin_key }}
        auid = 0
        caps mds = "allow"
        caps mon = "allow *"
        caps osd = "allow *"
