---

- name: create neutron user in rabbitmq
  rabbitmq_user: node="rabbit@{{ groups['rabbitmq'][0] }}" user="{{ neutron_rabbit_user }}" password="{{ neutron_rabbit_password }}" configure_priv=".*" read_priv=".*" write_priv=".*"
  delegate_to: "{{ groups['rabbitmq'][0] }}"
  run_once: True

- name: install CA certificate
  copy: src="{{ SSLCACertificateFileSource }}" dest="{{ SSLCACertificateFile }}" owner=root group=root mode=0644
  when: SSLCACertificateFile != ''

- name: disable autostarting of neutron controller services
  copy: content='manual' dest=/etc/init/{{ item }}.override owner=root group=root mode=0644 force=no
  with_items:
    - neutron-server
    - neutron-plugin-{{ neutron_physical_interface_driver }}-agent
    - neutron-vpn-agent
    - neutron-l3-agent
    - neutron-dhcp-agent
    - neutron-metadata-agent
    - neutron-lbaas-agent
  when: inventory_hostname in groups['neutron_controller']

- name: disable autostarting of neutron agent on computes
  copy: content='manual' dest=/etc/init/{{ item }}.override owner=root group=root mode=0644 force=no
  with_items:
    - neutron-plugin-{{ neutron_physical_interface_driver }}-agent
  when: inventory_hostname in groups['neutron_compute']

- name: turn off rp filtering
  lineinfile: >
    regexp='^{{ item.key }}'
    line='{{ item.key }} = {{ item.value }}'
    dest=/etc/sysctl.d/10-neutron.conf owner=root group=root mode=0644
    create=yes
  with_dict:
    { 'net.ipv4.conf.all.rp_filter' : 0,
      'net.ipv4.conf.default.rp_filter': 0
    }
  notify: reload sysctl

- name: turn on ip forwarding
  lineinfile: >
    regexp='^{{ item.key }}'
    line='{{ item.key }} = {{ item.value }}'
    dest=/etc/sysctl.d/10-neutron.conf owner=root group=root mode=0644
    create=yes
  with_dict:
    { 'net.ipv4.ip_forward' : 1 }
  notify: reload sysctl
  when: inventory_hostname in groups['neutron_controller']

- name: insert br_netfilter module
  modprobe: name=br_netfilter
  when: ansible_kernel | version_compare('3.18', '>=')

- name: make sure br_netfilter module is loaded at boot
  lineinfile: dest=/etc/modules line='br_netfilter' owner=root group=root mode=0644

- name: install vpn service provider
  apt: name={{ neutron_vpnaas_type }}
  when: inventory_hostname in groups['neutron_controller'] and neutron_vpnaas_type != None

- name: install neutron server packages
  apt: name={{ item }}
  with_items:
    - conntrack
    - keepalived
    - neutron-server
    - neutron-plugin-ml2
    - neutron-plugin-{{ neutron_physical_interface_driver }}-agent
    - "{{ (neutron_vpnaas_type == None) | ternary('neutron-l3-agent', 'neutron-vpn-agent') }}"
    - neutron-dhcp-agent
    - neutron-metadata-agent
    - neutron-lbaas-agent
    - python-neutron-vpnaas
    - python-neutronclient
  when: inventory_hostname in groups['neutron_controller']

- name: stop and disable strongswan
  service: name=strongswan state=stopped enabled=no
  when: inventory_hostname in groups['neutron_controller'] and neutron_vpnaas_type == 'strongswan'

- name: install neutron compute packages
  apt: name={{ item }}
  with_items:
    - conntrack
    - neutron-plugin-{{ neutron_physical_interface_driver }}-agent
  when: inventory_hostname in groups['neutron_compute']

- name: disable apparmor strongswan profiles
  file: path=/etc/apparmor.d/disable/{{ item }} src=/etc/apparmor.d/{{ item }} state=link
  with_items:
    - usr.lib.ipsec.charon
    - usr.lib.ipsec.stroke
  when: inventory_hostname in groups['neutron_controller'] and neutron_vpnaas_type == 'strongswan'
  notify: reload apparmor

- name: create neutron database
  mysql_db: name={{ neutron_db }}
    login_host={{ neutron_mysql_server }} login_user=root login_password={{ mysql_root_password }}
    state=present
  run_once: True

- name: create neutron database user
  mysql_user: name={{ neutron_db_user }} password={{ neutron_db_password }} host={{ item }} priv={{ neutron_db }}.*:ALL
    login_host={{ neutron_mysql_server }} login_user=root login_password={{ mysql_root_password }}
    state=present
  run_once: True
  with_items:
    - localhost
    - '%'

- name: install neutron configs on controllers
  template: src={{ item }}.j2 dest=/etc/neutron/{{ item }} owner=neutron group=root mode=0460
  with_items:
    - neutron.conf
    - l3_agent.ini
    - dhcp_agent.ini
    - metadata_agent.ini
    - fwaas_driver.ini
    - lbaas_agent.ini
    - vpn_agent.ini
  notify:
    - restart neutron controller services
  when: inventory_hostname in groups['neutron_controller']

- name: install neutron config on computes
  template: src={{ item }}.j2 dest=/etc/neutron/{{ item }} owner=neutron group=root mode=0460
  with_items:
    - neutron.conf
  notify:
    - restart neutron compute services
  when: inventory_hostname in groups['neutron_compute']

- name: install neutron ml2 configs
  template: src={{ item }}.ini.j2 dest=/etc/neutron/plugins/ml2/{{ item }}.ini owner=neutron group=root mode=0460
  with_items:
    - ml2_conf
    - "{{ neutron_physical_interface_driver }}_agent"
  notify:
    - restart neutron controller services
    - restart neutron compute services

- name: sync neutron db
  command: su neutron -s /bin/sh -c "neutron-db-manage --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/ml2_conf.ini upgrade head"
  register: db_sync
  changed_when: '"migrate.versioning.api" in db_sync.stderr'
  run_once: True

- meta: flush_handlers

- name: ensure neutron is started
  service: name={{ item }} state=started enabled=yes
  with_items:
    - neutron-server
    - neutron-plugin-{{ neutron_physical_interface_driver }}-agent
    - "{{ (neutron_vpnaas_type == None) | ternary('neutron-l3-agent', 'neutron-vpn-agent') }}"
    - neutron-dhcp-agent
    - neutron-metadata-agent
    - neutron-lbaas-agent
  when: inventory_hostname in groups['neutron_controller']

- name: ensure neutron is started
  service: name={{ item }} state=started enabled=yes
  with_items:
    - neutron-plugin-{{ neutron_physical_interface_driver }}-agent
  when: inventory_hostname in groups['neutron_compute']
