---

## Proxy

- name: create swift vhost in rabbitmq
  rabbitmq_vhost: node="rabbit@{{ groups['rabbitmq'][0] }}" name="{{ swift_rabbit_vhost }}"
  delegate_to: "{{ groups['rabbitmq'][0] }}"
  run_once: True

- name: create swift user in rabbitmq
  rabbitmq_user: node="rabbit@{{ groups['rabbitmq'][0] }}"
      user="{{ swift_rabbit_user }}" password="{{ swift_rabbit_password }}"
      vhost="{{ swift_rabbit_vhost }}"
      configure_priv=".*" read_priv=".*" write_priv=".*"
  delegate_to: "{{ groups['rabbitmq'][0] }}"
  run_once: True

- name: ensure the swift vhost contains the HA policy
  rabbitmq_policy:
    node: "rabbit@{{ inventory_hostname }}"
    vhost: "{{ swift_rabbit_vhost }}"
    name: HA
    pattern: '.*'
    tags:
      "ha-mode": "all"
      "ha-sync-mode": "automatic"
  delegate_to: "{{ groups['rabbitmq'][0] }}"
  run_once: True

- name: mask autostarting of swift-proxy
  service_mask: name=swift-proxy state=masked
  when: inventory_hostname in groups['swift_proxy']

- name: install swift-proxy
  apt: name={{ item }}
  with_items:
    - swift
    - swift-proxy
    - python-swiftclient
    - python-ceilometermiddleware
  when: inventory_hostname in groups['swift_proxy']

- name: install swift proxy config
  template: src=proxy-server.conf.j2 dest=/etc/swift/proxy-server.conf owner=root group=swift mode=0640
  notify: restart swift-proxy
  when: inventory_hostname in groups['swift_proxy']

- name: install swift.conf
  template: src=swift.conf.j2 dest=/etc/swift/swift.conf owner=root group=swift mode=0640
  notify: restart swift-proxy

- name: unmask autostarting of swift-proxy
  service_mask: name=swift-proxy state=unmasked
  when: inventory_hostname in groups['swift_proxy']

- meta: flush_handlers

- name: ensure swift-proxy is started
  service: name=swift-proxy state=started enabled=yes
  when: inventory_hostname in groups['swift_proxy']

- name: create ResellerAdmin role
  keystone_user:
    login_project_name=admin
    login_user=admin
    login_domain_name="Default"
    login_password="{{ keystone_admin_password }}"
    endpoint="{{ keystone_proto }}://{{ keystone_admin_address }}:35357/v3"
    cacert="{{ SSLCACertificateFile }}"
    insecure={{ ssl_insecure | ternary("true", "false") }}
    role=ResellerAdmin
  when: inventory_hostname == groups['swift_proxy'][0]
