controller:
  jsm-devops-gyurcostorage-test-0:
    ip:
      mgmt: 10.97.36.129
  jsm-devops-gyurcostorage-test-1:
    ip:
      mgmt: 10.97.36.130
  jsm-devops-gyurcostorage-test-2:
    ip:
      mgmt: 10.97.36.131

# -------- infrastructure --------
pacemaker:
  inherit: controller

haproxy:
  inherit: pacemaker

memcached:
  inherit: controller

rabbitmq:
  inherit: controller

galera:
  inherit: controller

mongodb:
  inherit: controller


# -------- OpenStack ---------
keystone:
  inherit: controller

glance:
  inherit: controller

horizon:
  inherit: controller

nova_controller:
  inherit: controller

nova_compute:
  inherit: compute

neutron_controller:
  inherit: controller

neutron_compute:
  inherit: compute

ceilometer_controller:
  inherit: controller

ceilometer_compute:
  inherit: compute

# -------- Compute --------
compute:
  jsm-devops-swify-test-1:
    ip:
      mgmt: 10.97.36.3
