source s_haproxy_src {
       unix-dgram("/var/lib/haproxy/dev/log");
};

destination d_haproxy { file("/var/log/haproxy.log"); };

log { source(s_haproxy_src); destination(d_haproxy); };
{% if syslog_use_mongodb %}
log { source(s_haproxy_src); destination(d_mongodb); };
{% endif %}
{% if syslog_remote_syslog %}
log { source(s_haproxy_src); destination(d_syslog_remote); };
{% endif %}
