[DEFAULT]
{% if ip.swift_replication is defined %}
#The only way to listen on 2 IPs is to listen on all IPs
bind_ip = 0.0.0.0
{% else %}
bind_ip = {{ ip.swift | default(ip.mgmt) }}
{% endif %}
bind_port = 6002
workers = {{ swift_account_server_workers }}
user = swift
swift_dir = /etc/swift
devices = /srv/node
mount_check = true
log_level = {{ swift_log_level }}

[pipeline:main]
pipeline = healthcheck recon account-server

[app:account-server]
use = egg:swift#account

[account-replicator]

[account-auditor]

[account-reaper]

[filter:recon]
use = egg:swift#recon
recon_cache_path = /var/cache/swift

[filter:healthcheck]
use = egg:swift#healthcheck
