[DEFAULT]
{% if ip.swift_replication is defined %}
#The only way to listen on 2 IPs is to listen on all IPs
bind_ip = 0.0.0.0
{% else %}
bind_ip = {{ ip.swift | default(ip.mgmt) }}
{% endif %}
bind_port = 6001
workers = {{ swift_container_server_workers }}
user = swift
swift_dir = /etc/swift
devices = /srv/node
mount_check = true
log_level = {{ swift_log_level }}

[pipeline:main]
pipeline = healthcheck recon container-server

[app:container-server]
use = egg:swift#container

[container-replicator]

[container-updater]

[container-auditor]

[container-sync]

[filter:recon]
use = egg:swift#recon
recon_cache_path = /var/cache/swift

[filter:healthcheck]
use = egg:swift#healthcheck
