[oslo_messaging_rabbit]

{% if rabbitmq_quorum_queues %}
rabbit_quorum_queue = True
rabbit_transient_quorum_queue = True
rabbit_stream_fanout = True
use_queue_manager = True
rabbit_qos_prefetch_count = {{ swift_rabbit_qos_prefetch_count }}
{% else %}
rabbit_ha_queues = True
{% endif %}
