---

nova_db_user: nova
nova_mysql_server: "{{ vip_mgmt }}"
nova_db: nova
nova_rabbit_user: nova
nova_admin_user: nova
nova_domain_name: "{{ keystone_domain_name }}"
nova_project_domain_name: "{{ keystone_service_project_domain_name | default(keystone_domain_name) }}"
nova_project_name: "{{ keystone_service_project_name | default('service') }}"

nova_compute_driver: libvirt.LibvirtDriver
nova_scheduler_default_filters: "RetryFilter, AvailabilityZoneFilter, RamFilter, DiskFilter, ComputeFilter, ComputeCapabilitiesFilter, ImagePropertiesFilter, ServerGroupAntiAffinityFilter, ServerGroupAffinityFilter, SameHostFilter, DifferentHostFilter"
nova_default_floating_pool: ext-net

#Must be greater than MySQL failover time
nova_service_down_time: 150

#kvm or qemu
nova_virt_type: kvm

#spice or vnc
nova_console_type: vnc
nova_console_keymap: en-us

nova_novncproxy_ssl: False
nova_novncproxy_base_url: "{{ nova_novncproxy_ssl | ternary('https','http') }}://{{ os_public_address }}:6080/vnc_auto.html"

neutron_physical_interface_driver: linuxbridge
neutron_mtu: 0
neutron_domain_name: "{{ keystone_domain_name }}"
neutron_admin_user: neutron
neutron_project_domain_name: "{{ keystone_service_project_domain_name | default(keystone_domain_name) }}"
neutron_project_name: "{{ keystone_service_project_name | default('service') }}"

ironic_admin_user: ironic
ironic_project_name: "{{ keystone_service_project_name | default('service') }}"

nova_syslog_use: "{{ syslog_use | default(False) }}"

nova_debug: False

keystone_proto: "{{ (keystone_ssl | default(False)) | ternary('https', 'http') }}"
os_proto: "{{ (os_ssl | default(False)) | ternary('https', 'http') }}"
ssl_insecure: False
SSLCACertificateFileSource:
SSLCACertificateFile: "{{ (SSLCACertificateFileSource is not none and SSLCACertificateFileSource | trim != '') | ternary('/etc/ssl/certs/openstack.ca.crt','') }}"
SSLCertificateKeyFile: /var/lib/nova/keys/openstack-nova.key
SSLCertificateFile: /var/lib/nova/keys/openstack-nova.crt
