[
  {rabbit, [
    {loopback_users, []},
    {tcp_listeners, [{"127.0.0.1", 5672}, { "{{ ip.mgmt }}", 5672} ]},
    {hipe_compile, true},
    {cluster_partition_handling, autoheal},
    {default_user, <<"admin">>},
    {default_pass, <<"{{ rabbitmq_admin_password }}">>},
    {cluster_nodes, {
      [ {% for host in groups['rabbitmq'] %}'rabbit@{{ host }}'{% if not loop.last %}, {% endif %}{% endfor %}], disc}
    }
  ]},
  {rabbitmq_management, [{listener, [{port, 15672}, {ip, "{{ ip.mgmt }}"}]}]}
].
