#Change this in production!
keystone_admin_password: admIn

mongodb_key:
mongodb_admin_password:
mongodb_clusteradmin_password:
syslog_db_password:
rabbitmq_erlang_cookie:
rabbitmq_admin_password:
galera_wsrep_password:
galera_clustercheck_password:
mysql_root_password:

memcache_secret_key:

keystone_db_password:
keystone_rabbit_password:
keystone_OIDCCryptoPassphrase:

radosgw_admin_password:

swift_admin_password:
swift_rabbit_password:
swift_hash_path_suffix:
swift_hash_path_prefix:

glance_db_password:
glance_rabbit_password:
glance_admin_password:

placement_db_password:
placement_admin_password:

nova_api_db_password:
nova_db_password:
nova_cell0_db_password:
nova_rabbit_password:
nova_admin_password:

neutron_db_password:
neutron_rabbit_password:
neutron_admin_password:

neutron_vrrp_password:

metadata_proxy_shared_secret:

octavia_db_password:
octavia_rabbit_password:
octavia_admin_password:

gnocchi_db_password:
gnocchi_admin_password:

ceilometer_rabbit_password:
ceilometer_admin_password:

ceilometer_telemetry_secret:

aodh_db_password:
aodh_rabbit_password:
aodh_admin_password:

heat_db_password:
heat_rabbit_password:
heat_admin_password:
heat_domain_admin_password:

ironic_db_password:
ironic_rabbit_password:
ironic_admin_password:

horizon_secret_key:

trove_db_password:
trove_rabbit_password:
trove_admin_password:

cinder_db_password:
cinder_rabbit_password:
cinder_admin_password:

murano_db_password:
murano_rabbit_password:
murano_admin_password:
murano_rabbitmq_admin_password:
murano_rabbitmq_erlang_cookie:
murano_service_rabbit_password:

sahara_db_password:
sahara_rabbit_password:
sahara_admin_password:

barbican_db_password:
barbican_rabbit_password:
barbican_admin_password:

mistral_db_password:
mistral_rabbit_password:
mistral_admin_password:

manila_db_password:
manila_rabbit_password:
manila_admin_password:

powerdns_db_password:
powerdns_api_key:
powerdns_web_password:

designate_db_password:
designate_rabbit_password:
designate_admin_password:

magnum_db_password:
magnum_rabbit_password:
magnum_admin_password:
magnum_domain_admin_password:

cloudkitty_db_password:
cloudkitty_rabbit_password:
cloudkitty_admin_password:
