#Change this in production!
keystone_admin_password: admIn

mongodb_key:
mongodb_admin_password:
mongodb_clusteradmin_password:
syslog_db_password:
rabbitmq_erlang_cookie:
rabbitmq_admin_password:
galera_wsrep_password:
galera_clustercheck_password:
mysql_root_password:

memcache_secret_key:

keystone_admin_token:
keystone_db_password:
keystone_rabbit_password:

radosgw_admin_password:

swift_admin_password:
swift_rabbit_password:
swift_hash_path_suffix:
swift_hash_path_prefix:

glance_db_password:
glance_rabbit_password:
glance_admin_password:

nova_api_db_password:
nova_db_password:
nova_rabbit_password:
nova_admin_password:

neutron_db_password:
neutron_rabbit_password:
neutron_admin_password:

metadata_proxy_shared_secret:

ceilometer_db_password:
ceilometer_rabbit_password:
ceilometer_admin_password:

ceilometer_telemetry_secret:

aodh_db_password:
aodh_rabbit_password:
aodh_admin_password:

heat_db_password:
heat_rabbit_password:
heat_admin_password:
heat_domain_admin_password:

horizon_secret_key:

trove_db_password:
trove_rabbit_password:
trove_admin_password:

cinder_db_password:
cinder_rabbit_password:
cinder_admin_password:

murano_db_password:
murano_rabbit_password:
murano_admin_password:

sahara_db_password:
sahara_rabbit_password:
sahara_admin_password:

barbican_db_password:
barbican_rabbit_password:
barbican_admin_password:
