---

horizon_keystone_multidomain_support: True
horizon_keystone_default_domain: Default
horizon_neutron_physical_networks: []
horizon_enable_password_retrieve: True
horizon_launch_instance_legacy_enabled: True
horizon_launch_instance_ng_enabled: False
horizon_openstack_endpoint_type: internalURL
horizon_cinder_enable_backup: True
horizon_heat_enable_user_pass: "{{ (heat_deferred_auth_method | default('trusts')) == 'password' }}"
horizon_processes: "{{ (ansible_processor_vcpus + 1) // 2 }}"
horizon_debug: False
horizon_compress: "{{ not horizon_debug }}"
horizon_compress_offline: "{{ not horizon_debug }}"

neutron_vpnaas: True
neutron_lbaas_agent: lbaasv2

horizon_install_dashboards: True
horizon_dashboards:
    - { install: "{{ groups['trove'] | count > 0 }}", package: 'python-trove-dashboard' }
    - { install: "{{ groups['sahara'] | count > 0 }}", package: 'python-sahara-dashboard' }
    - { install: "{{ groups['murano'] | count > 0 }}", package: 'python-murano-dashboard' }
    - { install: "{{ groups['manila'] | count > 0 }}", package: 'python-manila-ui' }
    - { install: "{{ groups['designate'] | count > 0 }}", package: 'python-designate-dashboard' }
    - { install: neutron_lbaas_agent == 'lbaasv2', package: 'python-neutron-lbaas-dashboard' }
    - { install: "{{ groups['heat'] | count > 0 }}", package: 'python-heat-dashboard' }

horizon_extra_packages: "{% for item in horizon_dashboards %}{% if item.install and horizon_install_dashboards %}{{ item.package }}{% if not loop.last %},{% endif %}{% endif %}{% endfor %}"

murano_repo_url: "http://storage.apps.openstack.org"

SSLCertificateKeyFile: /etc/ssl/private/openstack.key
SSLCertificateFile: /etc/ssl/certs/openstack.crt

keystone_proto: "{{ (keystone_ssl | default(False)) | ternary('https', 'http') }}"
keystone_federation_oidc: False

ssl_insecure: False
SSLCACertificateFileSource:
SSLCACertificateFile: "{{ (SSLCACertificateFileSource is not none and SSLCACertificateFileSource | trim != '') | ternary('/etc/ssl/certs/openstack.ca.crt','') }}"
