[Unit]
Description=Keystone uWSGI app

[Service]
ExecStart=/usr/bin/uwsgi --ini /etc/keystone/keystone-public.ini
User=keystone
Group=keystone
KillSignal=SIGQUIT
Type=notify
