local:
  localhost:
    ip:
      mgmt: 127.0.0.1
    ansible_connection: local

# ---- Nagios ----
nagios:

# ---- Ceph ----
ceph_monitor:
ceph_osd:
ceph_radosgw:

# --- Infra ----
pacemaker:
zookeeper:
haproxy:
memcached:
rabbitmq:
galera:
mongodb:
powerdns:
syslog:
rsyslog:
  inherit: syslog

# -------- OpenStack ---------
keystone:
swift_proxy:
swift_storage:
glance:
horizon:
nova_controller:
nova_compute:
neutron_controller:
neutron_compute:
neutron_l3:
  inherit: neutron_controller
neutron_l2:
  inherit:
    - neutron_l3
    - neutron_compute
gnocchi:
aodh:
panko:
ceilometer_controller:
ceilometer_compute:
heat:
cinder:
cinder_volume:
murano_rabbitmq:
murano:
sahara:
trove:
barbican:
ironic:
mistral:
manila:
designate:
magnum:
senlin:

tempest:
  inherit: local
