controller:
  jsm-devops-gyurcostorage-test-0:
    ip:
      mgmt: 10.97.36.129
  jsm-devops-gyurcostorage-test-1:
    ip:
      mgmt: 10.97.36.130
  jsm-devops-gyurcostorage-test-2:
    ip:
      mgmt: 10.97.36.131

# -------- infrastructure --------
pacemaker:
  inherit: controller

haproxy:
  inherit: pacemaker

memcached:
  inherit: controller

rabbitmq:
  inherit: controller

galera:
  inherit: controller

mongodb:
  inherit: controller


# -------- OpenStack ---------
keystone:
  inherit: controller

glance:
  inherit: controller

horizon:
  inherit: controller

nova_controller:
  inherit: controller

nova_compute:
  inherit: compute

neutron_controller:
  inherit: controller

neutron_compute:
  inherit: compute

ceilometer_controller:
  inherit: controller

ceilometer_compute:
  inherit: compute

heat:
  inherit: controller

trove:
  inherit: controller

cinder:
  inherit: controller

cinder_volume:
  inherit: controller

murano:
  inherit: controller

ironic:

# -------- Ceph ---------
ceph_monitor:
  jsm-ceph-osd-lubet-5:
    ip:
      mgmt: 10.97.36.132
  jsm-ceph-osd-lubet-7:
    ip:
      mgmt: 10.97.36.133
  jsm-ceph-osd-lubet-8:
    ip:
      mgmt: 10.97.36.135

ceph_osd:
  jsm-ceph-osd-lubet-5:
    ip:
      mgmt: 10.97.36.132
    osd:
      - { path: "/var/lib/osd1" }
      - { path: "/var/lib/osd2" }
  jsm-ceph-osd-lubet-7:
    ip:
      mgmt: 10.97.36.133
    osd:
      - { path: "/var/lib/osd1" }
      - { disk: "/dev/vg00/ceph" }
  jsm-ceph-osd-lubet-8:
    ip:
      mgmt: 10.97.36.135
    osd:
      - { path: "/var/lib/osd1" }
      - { disk: "/dev/vg00/ceph" }
  jsm-ceph-osd-lubet-9:
    ip:
      mgmt: 10.97.36.134
    osd:
      - { path: "/var/lib/osd1" }
      - { disk: "/dev/vg00/ceph" }

#The radosgw keystone authentication uses the certificates for signature checking,
#which are local to the keystone instance
ceph_radosgw:
  inherit: keystone

# -------- Compute --------
compute:
  jsm-devops-swify-test-1:
    ip:
      mgmt: 10.97.36.3
