vip_mgmt: 10.97.36.127
vip_mgmt_cidr: 24
vip_mgmt_nic: br-vlan

vip_public: 10.97.36.127
vip_public_cidr: 24
vip_public_nic: br-vlan

#Openstack services log to syslog
syslog_use: False
#Send logs to mongodb
syslog_use_mongodb: False
#Send log to a remote syslog, if an IP is given
#syslog_remote_syslog:

#Keystone addresses should be domain names in case of SSL (when keystone_ssl: True)
keystone_internal_address: "{{ vip_mgmt }}"
keystone_admin_address: "{{ vip_mgmt }}"
keystone_public_address: "{{ vip_public }}"

keystone_region_name: RegionONE
keystone_domain_name: Default

#OpenStack service  addresses should be domain names in case of SSL (when os_ssl: True)
os_internal_address: "{{ vip_mgmt }}"
os_admin_address: "{{ vip_mgmt }}"
os_public_address: "{{ vip_public }}"

#Cert and key file for (optionally, but strongly recommended) enabling TLS
#SSLCertificateFileSource:
#SSLCertificateKeyFileSource:
#SSLCACertificateFileSource:
#Don't check certificates if set to True:
#ssl_insecure: False
#Use TLS for keystone, too (without this, only Horizon will secured)
#keystone_ssl: False
#Use TLS for all OS services
#os_ssl: False

#Globally enable notifications only when Ceilometer is installed,
#otherwise no one will consume the notification messages.
notifications_enable: "{{ groups['ceilometer_controller'] | count > 0 }}"

neutron_flat_networks:
neutron_physical_interface_mappings: vlan:br-vlan
neutron_vlan_ranges: vlan:901:915,vlan:917:975
neutron_ha_network_type: vlan
neutron_ha_network_physical_name: vlan
neutron_ha_routers: False
neutron_lbaas_agent: lbaasv2

trove_net_name: trove-net
trove_net_segmentation_id: 901
trove_net_type: vlan
trove_physical_network: vlan
trove_subnet_cidr: 10.20.30.0/24
trove_image_path: /etc/openstack_deploy/trove-mysql.qcow2

#ceph os posix
cinder_backup_backend: ceph
cinder_backup_ceph_pool: backups
cinder_backup_ceph_user: cinder-backup

#ceph or lvm
cinder_backend: ceph
cinder_ceph_pool: volumes
cinder_ceph_user: cinder
cinder_volume_secret_uuid: d048aa33-c46c-4573-a0c9-dd014d56e2b4

#ceph, swift or files
glance_backend: ceph
glance_ceph_pool: images
glance_ceph_user: glance

#ceph or local
nova_ephemeral_backend: ceph
nova_ephemeral_ceph_pool: vms
nova_ephemeral_ceph_user: nova
nova_ephemeral_volume_secret_uuid: d048aa33-c46c-4573-a0c9-dd014d56e2b5

#horizon_regions:
#  - { name: "RegionONE", url: "http://10.97.36.127:5000/v3" }
#  - { name: "RegionTWO", url: "http://10.97.36.127:5000/v3" }

ceph_public_network: 10.97.36.0/24
ceph_cluster_network: 10.97.37.0/24
