---

- name: install CA certificate
  copy: src="{{ SSLCACertificateFileSource }}" dest="{{ SSLCACertificateFile }}" owner=root group=root mode=0644
  when: SSLCACertificateFile != ''

- name: mask autostarting of gnocchi
  service_mask: name={{ item }} state=masked
  with_items:
    - gnocchi-api
    - gnocchi-metricd

- name: mask gnocchi-api apache config
  copy: content='' dest=/etc/apache2/sites-available/gnocchi-api.conf owner=root group=root mode=0644

- name: install gnocchi
  apt: name={{ item }}
  with_items:
    - gnocchi-api
    - gnocchi-metricd

- name: ensure gnocchi-api is disabled at boot
  service: name=gnocchi-api state=stopped enabled=no

- name: create gnocchi database
  mysql_db: name={{ gnocchi_db }}
    login_host={{ gnocchi_mysql_server }} login_user=root login_password={{ mysql_root_password }}
    state=present
  run_once: True

- name: create gnocchi database user
  mysql_user: name={{ gnocchi_db_user }} password={{ gnocchi_db_password }} host={{ item }} priv={{ gnocchi_db }}.*:ALL
    login_host={{ gnocchi_mysql_server }} login_user=root login_password={{ mysql_root_password }}
    state=present
  run_once: True
  with_items:
    - localhost
    - '%'

- name: ensure /var/lib/gnocchi/cache is writeable
  file: path=/var/lib/gnocchi/cache state=directory owner=gnocchi group=gnocchi mode=0700

- name: install gnocchi configs
  template: src={{ item }}.conf.j2 dest=/etc/gnocchi/{{ item }}.conf owner=gnocchi group=root mode=0460
  with_items:
    - gnocchi
  notify:
    - signal apache to reload
    - restart gnocchi

- name: install api-paste.ini and policy.json
  copy: src={{ item }} dest=/etc/gnocchi/{{ item }} owner=gnocchi group=root mode=0460
  with_items:
    - api-paste.ini
    - policy.json
  notify:
    - signal apache to reload

- name: sync gnocchi db
  command: su gnocchi -s /bin/sh -c '/usr/bin/gnocchi-upgrade --skip-incoming --skip-storage'
  run_once: True

- name: create /var/www/cgi-bin/gnocchi
  file: path=/var/www/cgi-bin/gnocchi state=directory owner=root group=root mode=0755
  notify: signal apache to reload

- name: link gnocchi wsgi server
  file: src=/usr/bin/gnocchi-api dest=/var/www/cgi-bin/gnocchi/gnocchi-api state=link
  notify: signal apache to reload

- name: unmask autostarting of gnocchi
  service_mask: name=gnocchi-metricd state=unmasked

- meta: flush_handlers

- name: ensure gnocchi is started
  service: name=gnocchi-metricd state=started enabled=yes
