---

- name: create glance vhost in rabbitmq
  rabbitmq_vhost: node="rabbit@{{ groups['rabbitmq'][0] }}" name="{{ glance_rabbit_vhost }}"
  delegate_to: "{{ groups['rabbitmq'][0] }}"
  run_once: True

- name: create glance user in rabbitmq
  rabbitmq_user: node="rabbit@{{ groups['rabbitmq'][0] }}"
      user="{{ glance_rabbit_user }}" password="{{ glance_rabbit_password }}"
      vhost="{{ glance_rabbit_vhost }}"
      configure_priv=".*" read_priv=".*" write_priv=".*"
  delegate_to: "{{ groups['rabbitmq'][0] }}"
  run_once: True

- name: ensure the glance vhost contains the HA policy
  rabbitmq_policy:
    node: "rabbit@{{ groups['rabbitmq'][0] }}"
    vhost: "{{ glance_rabbit_vhost }}"
    name: HA
    pattern: '.*'
    tags:
      "ha-mode": "all"
      "ha-sync-mode": "automatic"
  delegate_to: "{{ groups['rabbitmq'][0] }}"
  run_once: True

- name: install CA certificate
  copy: src="{{ SSLCACertificateFileSource }}" dest="{{ SSLCACertificateFile }}" owner=root group=root mode=0644
  when: SSLCACertificateFile != ''

- name: mask autostarting of glance
  service_mask: name={{ item }} state=masked
  with_items:
    - glance-api
    - glance-registry

- name: install glance
  apt: name={{ item }}
  with_items:
    - python-rbd
    - python-rados
    - glance-api
    - python-glanceclient
    - python-swiftclient

- name: make sure glance-registry is not installed
  apt: name=glance-registry state=absent

- name: create glance database
  mysql_db: name={{ glance_db }}
    login_host={{ glance_mysql_server }} login_user=root login_password={{ mysql_root_password }}
    state=present
  run_once: True

- name: create glance database user
  mysql_user: name={{ glance_db_user }} password={{ glance_db_password }} host={{ item }} priv={{ glance_db }}.*:ALL
    login_host={{ glance_mysql_server }} login_user=root login_password={{ mysql_root_password }}
    state=present
  run_once: True
  with_items:
    - localhost
    - '%'

- name: install glance configs
  template: src={{ item }}.conf.j2 dest=/etc/glance/{{ item }}.conf owner=glance group=root mode=0460
  with_items:
    - glance-api
  notify: restart glance

- name: sync glance db
  command: su glance -s /bin/sh -c "/usr/bin/glance-manage db_sync"
  register: db_sync
  changed_when: '"migrate.versioning.api" in db_sync.stderr'
  run_once: True

- name: unmask autostarting of glance
  service_mask: name={{ item }} state=unmasked
  with_items:
    - glance-api

- meta: flush_handlers

- name: ensure glance-api is started
  service: name=glance-api state=started enabled=yes

- name: ensure glance-registry is stopped
  service: name=glance-registry state=stopped enabled=no

- name: load metadata definitions
  command: su glance -s /bin/sh -c "/usr/bin/glance-manage db_load_metadefs"
  register: db_sync
  changed_when: '"loaded to database" in db_sync.stdout'
  run_once: True
